:root {
  --soft-orange: #e9ab53;
  --soft-red: #F15E50;
  --off-white: #f9fcfc;
  --grayish-blue: #ccd9e1;
  --dark-grayish-blue: #596b7a;
  --very-dark-blue: #000d1a;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--off-white);
}

.container {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  gap: 2.5rem;
  margin: 5rem 0;
}

main {
  grid-column: 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.75rem;
}

header {
  grid-column: 2;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-items {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.menu-items > li {
  padding: 0.25rem;
  font-weight: 400;
  color: var(--dark-grayish-blue);
  cursor: pointer;
}

.menu-items > li:hover {
  color: var(--soft-red);
}

.future-of-web {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 1fr;
}

.latest-insights {
  background-color: var(--very-dark-blue);
  color: var(--off-white);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
}

.insights-title {
  font-size: 2.25rem;
  align-self: center;
  padding-left: 1.25rem;
}

.articles-wrapper {
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.565rem;
}

.articles-wrapper > div {
  border-bottom: 0.0125rem solid var(--grayish-blue);
}

.latest-tech-stories {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

header > img {
  width: 3.125rem;
  height: 1.875rem;
}

.article-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.article-title:hover {
  color: var(--soft-orange);
}

.article-description {
  margin-bottom: 2rem;
  color: var(--grayish-blue);
  font-size: 0.875rem;
  line-height: 2;
}

h3 {
  color: var(--soft-orange);
  font-size: 1.875rem;

}

#web-img {
  grid-column: span 2;
  width: 100%;
  height: 15.625rem;
  margin-bottom: 1.875rem;
}

.web-button {
  grid-column: 2;
  width: 55%;
  height: 3.125rem;
  border: none;
  text-transform: uppercase;
  color: var(--off-white);
  background-color: var(--soft-red);
  font-size: 0.75rem;
  letter-spacing: 0.25rem;
  font-weight: 700;
  cursor: pointer;
}

.web-button:hover {
  background-color: var(--very-dark-blue);
}

.web-description {
  font-weight: normal;
  line-height: 1.5;
}

.web-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

.web-title {
  font-weight: 800;
  font-size: 3.125rem;
  line-height: 1;
  width: 80%;
}

.future-of-web, .latest-insights {
  margin-bottom: 2.5rem;
}

.story-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.story-wrapper > img {
  grid-column: 1;
  width: 6.25rem;
}

.story-title {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.story-title:hover {
  color: var(--soft-red);
}

.story-number {
  color: var(--grayish-blue);
  font-size: 1.625rem;
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.story-description {
  color: var(--dark-grayish-blue);
  line-height: 1.75;
  font-size: 0.875rem;
  padding-right: 1.25rem;
}

.mobile-menu-button {
  display: none;
}

@media screen and (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.625rem;
    align-items: center;
    margin: 1rem 0;
  }

  nav {
    display: none;
  }

  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.625rem;
  }

  #web-img {
    object-fit: cover;
    margin: 0;
  }

  .mobile-menu-button {
    display: block;
    cursor: pointer;
    background-color: transparent;
    width: 3.75rem;
    z-index: 1;
    border: none;
  }

  nav.show {
    display: block;
    position: absolute;
    background-color: white;
    z-index: 1;
    height: 100%;
    width: 12.5rem;
    right: 0;
    bottom: 0;
  }

  .menu-items {
    margin-top: 7.5rem;
    display: block;
  }

  .menu-items > li {
    padding: 1.25rem;
  }

  .future-of-web {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .latest-insights {
    grid-row: 2;
  }

  .latest-tech-stories {
    grid-row: 3;
    grid-template-columns: 1fr;
  }

  .web-title {
    font-size: 1.625rem;
    line-height: 1.5;
    margin: 0;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.61);
    z-index: 1;
    display: none;
  }
}
